{% extends '_base.html' %}
{% load static %}
{% block main %}
  <style>
    input[type="number"]::-webkit-outer-spin-button,
    input[type="number"]::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
    input[type="number"] {
        -moz-appearance: textfield;
    }
  </style>
  <div class="Middle Middle_top">
    <div class="Middle-top">
      <div class="wrap">
        <div class="Middle-header">
          <h1 class="Middle-title">Корзина
          </h1>
          <ul class="breadcrumbs Middle-breadcrumbs">
            <li class="breadcrumbs-item"><a href="/">home</a>
            </li>
            <li class="breadcrumbs-item breadcrumbs-item_current"><span>Корзина</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="Section">
      <div class="wrap">
        <form class="form Cart" method="post">
          {% csrf_token %}
          {% for product in cart %}
            <div class="Cart-product">
              <div class="Cart-block Cart-block_row">
                <div class="Cart-block Cart-block_pict"><img class="Cart-img" src="/media/{{ product.image }}" alt="card.jpg"/>
                </div>
                <div class="Cart-block Cart-block_info">{{ product.title }}
                  <div class="Cart-desc">{{ product.description }}
                  </div>
                </div>
                <div class="Cart-block Cart-block_price">
                  <div id="Price-{{ product.id }}" class="Cart-price">{{ product.price }}$
                  </div>
                </div>
              </div>
              <div class="Cart-block Cart-block_row">
                <div class="Cart-block Cart-block_amount">
                  <div class="Cart-amount">
                    <div class="Amount">
                      <button class="Amount-remove" type="button"></button>
                      <input class="Amount-input form-input" name="amount" id="{{ product.id }}" type="number" value="{{ product.amount }}"/>
                      <button class="Amount-add" type="button"></button>
                    </div>
                  </div>
                </div>
                <div class="Cart-block Cart-block_delete"><a class="Cart-delete" href="/delete_from_cart/?product_id={{ product.id }}"><img src="{% static '/assets/img/icons/card/delete.svg' %}" alt="delete.svg"/></a>
                </div>
              </div>
            </div>
          {% endfor %}
          <div class="Cart-total">
            <div class="Cart-block Cart-block_total">
              <strong class="Cart-title" id="y">Итого:</strong>
              <span class="Cart-price Total-price">{{ total_price }}$</span>
            </div>
            <div class="Cart-block"><a class="btn btn_success btn_lg" href="/order/">Оформить заказ</a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <script>
      function GoToChangeCart(option) {
          let url = option.getAttribute("url")
          url += "&amount=" + $("#"+option.value).attr("value")
          window.location = url
      }
  </script>
{% endblock %}

