{% load static %}
{% load filtertag %}

<div class="Card">
    <a class="Card-picture" href="#">
        {% include 'includes/image_block_with_default.html' with image=product.image %}
    </a>
    <div class="Card-content">
        <strong class="Card-title">{{ product.name }}</strong>
        <div class="Card-description">
            <div class="Card-cost">
                <span class="Card-price">
                    {{ product.price }}
                </span>
            </div>
        </div>
    </div>
</div>
